
/* properties */

.search-heading{
  margin-top: 130px;
  text-align: center;
}

.search-top-divider{
  width: 260px;
  height: 2px;
  background: #D87C6A;
  margin: auto;
  margin-bottom: 20px;
}

.search-bottom-divider{
  width: 100%;
  height: 1px;
  background: #D87C6A;
  margin: auto;
  margin-bottom: 40px;
}


.search-location{
  border: 1px solid #D1D1D1;
  border-radius: 40px;
  width: 500px;
  height: 46px;
  display: flex;
  align-items: center;
  background: #fff;
  margin: auto;
  margin-bottom: 20px;
}
.search-location-i {
  color: #D87C6A;
  font-size: 18px;
  margin: 0 20px;
}
.search-location-input {
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  color: #D87C6A;
  width: 100%;
  width: calc(100% - 170px);
  height: 100%;
  background: transparent;
}
.auto-search {
  width: 150px;
  background-color: #D87C6A;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  cursor: pointer;
}



.search{
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-tabs {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #d1d1d1;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  height: 46px;
  margin: 0;
}
.search-tabs .all-tab {
  width: 6vw;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  transition: ease-in-out 0.2s;
}

.all-tabs label{
    margin-bottom: unset;
}

.all-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  width: 100%;
}
input[type="radio"] {
  display: none;
}
.all-tab {
  height: 42px;
  width: 50%;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3 ease-in-out;
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
input#all-tab1:checked~label[for="all-tab1"],
input#all-tab2:checked~label[for="all-tab2"],
input#all-tab3:checked~label[for="all-tab3"] {
  background: #D87C6A;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.all-tabs {
  gap: 2px;
}
.all-tab {
  width: 33.3%;
  height: 38px;
}


.search-type{
    border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 22%;
  height: 46px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
  background: #fff;
  margin: 0;
}
.custom-select{
    padding-left: 10px;
}
.more-filter{
    width: 120px;
    padding-left: 12px;
}
.search-beds, .search-area, .search-price {
  padding-left: 12px;
}
.search-type .custom-options {
  width: 100%;
  margin-left: 0%;
}
.search-beds .custom-options1, .search-area .custom-options-area, .search-price .custom-options-price {
  width: 108%;
  margin-left: -7%;
}
.custom-dropdown-filter {
  width: 100%;
  position: relative;
}
.custom-select-filter {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options-filter {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 300%;
  margin-left: -10%;
  background: #fff;
  z-index: 99;
  right: 0;
  display: none;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options-filter.showFilter {
  display: block;
}

.custom-options-filter li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options-filter li:hover,
.custom-options-filter li.selectedFilter {
  background: #D87C6A;
  color: #fff;
}




.filter-price{
  padding: 14px;
  color: #565656;
}
.filter-price h2{
  font-size: 18px;
}
.filter-price-selector{
  display: flex;
  align-items: center;
  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
}
.filter-price-selector h4{
  font-weight: 500;
  font-size: 16px;
}
.filter-price-selector input{
  margin-top: 10px;
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #989898;
  padding-left: 10px;
}

.filter-btn-full{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4%;
  margin-bottom: 20px;
  margin-top: 14px;
}
.filter-btn-left{
  height: 40px;
  width: 44%;
  background: #fff;
  color: #D87C6A;
  border: 1px solid #D87C6A !important;
}
.filter-btn-left:hover{
  background: #fff;
}
.filter-btn-right{
  height: 40px;
  width: 44%;
  background: #D87C6A;
  color: #fff;
  border: 1px solid #D87C6A !important;
}


/* .form-btn{
  width: 20% !important;
  border-radius: 4px;
} */
/* .filter-clear{
  color: #D87C6A;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: end;
  border: 1px solid #D87C6A !important;
  width: fit-content;
} */


.filter-clear{
  width: 10% !important;
  border-radius: 4px;
  height: 46px;
  width: 10%;
  background: #fff;
  color: #D87C6A;
  border: 1px solid #D87C6A !important;
  transition: all .3s ease-in-out;
}
.filter-clear:hover{
  background: #ca4c33;
  color: #fff;
}
.filter-clear:focus{
  border: 1px solid #D87C6A !important;
}
/* .filter-clear-right{
  height: 40px;
  width: 10%;
  background: #D87C6A;
  color: #fff;
  border: 1px solid #D87C6A !important;
} */




.devider{
  height: 1px;
  background: #cecece;
}




.content-full {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.content-left {
    width: 73%;
}







.left-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-head h2{
  font-size: 20px;
}
.left-head-btn-full{
  display: flex;
  align-items: center;
  gap: 3%;
}
.bottom-type {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 140px !important;
  height: 40px;
  display: flex;
  align-items: center;
  background: #fff;
}
.property-type{
  display: flex;
  align-items: center;
}
.bottom-type-i {
  color: #d87c6a;
  font-size: 20px;
  margin: 10px;
}




/* dropdown for property type filter */
.custom-dropdown-list {
  width: 100%;
  position: relative;
}
.custom-select-list {
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 38px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.custom-options-list {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 120%;
  right: 0;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options-list.showList {
  display: block;
}
.custom-options-list li {
  padding: 10px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}
.custom-options-list li:hover,
.custom-options-list li.selectedList {
  background: #D87C6A;
  color: #fff;
}


/* dropdown for beds and bath filter */
.custom-dropdown1 {
  width: 100%;
  position: relative;
}

.custom-select1 {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options1 {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 105% !important;
  right: 0;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options1.show1 {
  display: block;
}

.custom-options1 li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options1 li:hover,
.custom-options1 li.selected1 {
  background: #D87C6A;
  color: #fff;
}







/* dropdown for area filter */
.custom-dropdown-area {
  width: 100%;
  position: relative;
}

.custom-select-area {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options-area {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 105% !important;
  right: 0;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options-area.show-area {
  display: block;
}

.custom-options-area li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options-area li:hover,
.custom-options-area li.selected-area {
  background: #D87C6A;
  color: #fff;
}



/* dropdown for price filter */
.custom-dropdown-price {
  width: 100%;
  position: relative;
}

.custom-select-price {
  display: flex;
  align-items: center;
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.custom-options-price {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 105% !important;
  right: 0;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options-price.show-price {
  display: block;
}

.custom-options-price li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options-price li:hover,
.custom-options-price li.selected-price {
  background: #D87C6A;
  color: #fff;
}







.head-right {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border: 1px solid #d1d1d1;
  padding: 4px;
  border-radius: 4px;
  background: #fff;
  height: 40px;
  margin: 0;
}
.head-right .list-tab {
  width: 6vw;
  height: 30px;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
  transition: ease-in-out 0.2s;
}


.list-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  overflow: hidden;
  width: 100%;
}
.list-tabs label{
  margin-bottom: unset;
}
input[type="radio"] {
  display: none;
}

.list-tab {
  height: 42px;
  width: 50%;
  border-radius: 4px;
  background: white;
  color: #4f4f4f;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3 ease-in-out;
  transition: ease-in-out 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
input#list-tab1:checked~label[for="list-tab1"],
input#list-tab2:checked~label[for="list-tab2"] {
  background: #D87C6A;
  color: #fff;
  transition: ease-in-out 0.2s;
}
.list-tab-i{
  margin-right: 6px;
  font-size: 20px;
}








.card-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  display: flex !important;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #BABABA;
  border-radius: 8px;
  overflow: hidden;
  display: none;
}

.card-left {
  width: 40%;
  position: relative;
}

.card-left-img-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.card-left-img {
  display: flex;
  scroll-behavior: smooth;
  overflow-x: scroll;
  height: 100%;
  width: 100%;
  scrollbar-width: none;
}
.card-left-img::-webkit-scrollbar {
  display: none;
}

.card-left-img img {
  width: 100%;
  flex-shrink: 0;
  object-fit: cover;
}

.card-left-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  /* padding: 10px; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
  user-select: none;
}
.nav-button.left {
  left: 10px;
}
.nav-button.right {
  right: 10px;
}

.heart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 8px;
  border-radius: 50%;
  pointer-events: auto;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}



 


.card-right{
  padding: 14px 20px;
  width: 60%;
}
.card-right h2{
  font-size: 24px;
  margin-bottom: 0;
}
.location{
  font-size: 16px;
  color: #8d8d8d;
  font-weight: 400;
}
.location i{
  font-size: 20px;
}
.price{
  margin-top: 16px;
  font-size: 22px;
  color: #D87C6A;
  font-weight: 600;
}
.price span{
  font-size: 18px;
  color: #000;
  font-weight: 400;
  margin-right: 10px;
}








.about{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
  font-size: 16px;
  font-weight: 500;
}


.about-beds{
  display: flex;
  align-items: center;
  width: 90px;
  gap: 14px;
}
.about-beds div{
  width: fit-content;
  display: flex;
  align-items: center;
}
.about-beds div img{
  width: 24px;
  margin-right: 6px;
}


.about-area{
  width: fit-content;
  display: flex;
  align-items: center;
  font-size: 16px;
}
.about-area img{
  width: 20px;
  margin-right: 6px;
}




.feature {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 6px;
}

.feature div {
    font-size: 16px;
    font-weight: 400;
    color: #aaaaaa;
}


.contact-div {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.contact-div button {
    background: #ffe5df;
    border: none !important;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ca4c33;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.contact-div button:hover {
    background: #D87C6A;
    color: #fff;
}

.contact-div button i {
    font-size: 20px;
}



.pagination {
  display: flex;
  gap: 8px;
  margin-top: 30px;
  justify-content: center;
  margin-bottom: 60px;
}

.pagination button {
  border: 1px solid #E5E5E5;
  background-color: #E5E5E5;
  color: #818181;
  padding: 8px 12px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.pagination button.active {
  border: 1px solid #D87C6A;
  background-color: #E1F5F1;
  color: black;
}








.content-right {
    width: 25%;
}

.right-extra {
    padding: 10px;
    border: 1px solid #BABABA;
    border-radius: 8px;
    margin-bottom: 20px;
}

.right-extra h6 {
    font-size: 16px;
}

.right-extra ol {
    margin-top: 15px;
    margin-bottom: 15px;
}

.right-extra ol li {
    font-size: 14px;
    margin-bottom: 5px;
    color: #7a7a7a;
}

.right-extra a {
    text-decoration: none;
    color: #D87C6A;
    font-size: 14px;
    transition: all 0.2s ease-in-out;
}
.right-extra a:hover {
  color: var(--primary-color);
}



.custom-dropdown {
  width: 100%;
  position: relative;
}

.custom-select {
  background-color: #fff;
  background-image: url("data:image/svg+xml;utf8,<svg fill='%23D87C6A' height='12' viewBox='0 0 24 24' width='12' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0px center;
  background-size: 30px;
  height: 44px;
  font-size: 14px;
  color: #4f4f4f;
  border: none;
  outline: none;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-options {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #D1D1D1;
  position: absolute;
  width: 100%;
  margin-left: 0;
  background: #fff;
  z-index: 99;
  display: none;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: -2px 4px 6px -3px #D87C6A;
}

.custom-options.show {
  display: block;
}

.custom-options li {
  padding: 10px 20px;
  height: 46px;
  cursor: pointer;
  color: #4f4f4f;
  transition: all 0.2s;
}

.custom-options li:hover,
.custom-options li.selected {
  background: #D87C6A;
  color: #fff;
}


.bottom-others {
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  width: 49%;
  height: 46px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background: #fff;
  margin: 0;
}











@media (max-width: 1200px) {
    .blob-btn {
        padding: 8px 14px;
        font-size: 14px;
        border-radius: 8px;
    }




    
.feature {
    gap: 6px;
}
.feature div {
    font-size: 14px;
}
.contact-div {
    gap: 5px;
}
.contact-div button {
    padding: 8px 14px;
}
.contact-div button:hover {
    background: #5DBAA6;
    color: #fff;
}

.contact-div button i {
    font-size: 24px;
}



.filter-clear{
  width: 12% !important;
}
.search-type{
  width: 21%;
}


}





@media (max-width: 1000px) {

  .search-location{
  width: 400px;
  height: 40px;
}
.search-location-i {
  font-size: 18px;
}
.search-location-input {
  font-size: 14px;
}
.auto-search {
  width: 130px;
}
.search-tabs {
  height: 40px;
}
.search-tabs .all-tab {
  width: 52px;
  font-size: 14px;
}
.search-type{
  width: 20%;
  height: 40px;
}
.more-filter{
    width: 120px;
    padding-left: 10px;
}
.search-beds .custom-options1 {
  width: 110%;
  margin-left: -10%;
}
.custom-select-filter {
  height: 38px;
}
.custom-select {
  height: 38px;
}
.custom-select1 {
  height: 38px;
}
.custom-select-area {
  height: 38px;
}
.custom-select-price {
  height: 38px;
}
.filter-clear{
  height: 38px;
  width: 16% !important;
}

.custom-options-filter {
  width: 300%;
  margin-left: -10%;
  border-radius: 4px;
}

.filter-price{
  padding: 10px;
}
.filter-price h2{
  font-size: 16px;
}
.filter-price-selector{
  margin-top: 10px;
  font-size: 14px;
}
.filter-price-selector input{
  margin-top: 6px;
  width: 90%;
  height: 36px;
  border-radius: 4px;
}

.filter-btn-full{
  gap: 2%;
  margin-bottom: 10px;
}
.form-btn{
  width: 100px !important;
}





.content-left {
    width: 73%;
}


.left-head h2{
  font-size: 18px;
}
.bottom-type {
  width: 100px;
  height: 36px;
}
.custom-select-list {
  height: 34px;
}

.custom-options-list {
  width: 150%;
}
.custom-options-list li {
  padding: 6px;
  height: 36px;
}

.head-right {
  height: 36px;
}
.head-right .list-tab {
  width: 6vw;
  height: 30px;
  font-size: 14px;
}
.list-tab {
  height: 40px;
  font-size: 14px;
}
.list-tab-i{
  margin-right: 4px;
  font-size: 16px;
}



.card {
  margin-top: 14px;
  border-radius: 6px;
}
.card-left {
  width: 40%;
}
.nav-button {
  font-size: 14px;
  width: 30px;
  height: 30px;
}
.heart-icon {
  font-size: 14px;
  height: 30px;
  width: 30px;
}
.nav-dots .dot {
  width: 6px;
  height: 6px;
}
.nav-dots .dot.active {
  width: 10px;
  height: 10px;
}



 


.card-right{
  padding: 10px 14px;
  width: 60%;
}
.card-right h2{
  font-size: 20px;
}
.location{
  font-size: 14px;
  margin-top: 4px;
}
.location i{
  font-size: 16px;
}
.price{
  margin-top: 12px;
  font-size: 18px;
}
.price span{
  font-size: 16px;
}
.about{
  gap: 3%;
  margin-top: 10px;
  font-size: 14px;
}
.about-beds{
  width: 75px;
  gap: 8px;
}
.about-beds div img{
  width: 20px;
}
.about-area{
  font-size: 14px;
}
.about-area img{
  width: 16px;
}
.feature {
  display: none;
}
.contact-div {
    gap: 10px;
    margin-top: 10px;
}
.hideOn1000{
  display: none;
}
.contact-div button {
    padding: 4px 20px;
}
.contact-div button i {
    font-size: 20px;
    margin-right: 0 !important;
}



.pagination {
  gap: 8px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.pagination button {
  padding: 8px 12px;
  font-size: 16px;
}




    .content-full {
        margin-top: 20px;
    }
    .blob-btn {
        padding: 6px 10px;
        font-size: 14px;
    }
    .map-btn button i {
        font-size: 16px;
        margin-right: 4px !important;
    }
    .alert {
        border-radius: 4px;
        margin-top: 10px;
        padding: 10px;
    }
    .alert p {
        margin-bottom: 10px;
    }
    .alert button {
        padding: 6px;
    }
    .alert button i {
        font-size: 16px;
    }
    .right-extra {
        border-radius: 4px;
        margin-top: 10px;
    }
    .right-extra h6 {
        font-size: 14px;
    }
    .right-extra ol {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}







@media (max-width: 700px) {

  .search{
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.search-location{
  width: 320px;
  margin-bottom: 20px;
}
.search-location-input {
  font-size: 15px;
  width: calc(100% - 100px);
}
.auto-search {
  width: 100px;
  line-height: 16px;
  text-align: center;
}
.search-location-i {
  font-size: 14px;
  margin: 0 6px 0 10px;
}
.search-tabs {
  width: 49%;
  margin-bottom: 10px;
}
.search-tabs .all-tab {
  width: 33.33%;
  height: 30px;
}
.search-type{
  width: 32%;
  margin-bottom: 10px;
}
.filter-clear{
  height: 38px;
  width: 32% !important;
}
.custom-select1 {
    height: 38px;
}
.more-filter{
    width: 32%;
}
.search-beds .custom-options1 {
  width: 108%;
  margin-left: -8%;
}
.custom-select-filter {
  height: 38px;
}
.custom-options-filter {
  width: 103%;
  margin-left: -9%;
}


.filter-price{
  padding: 10px;
}
.filter-price h2{
  font-size: 16px;
}
.filter-price-selector{
  margin-top: 10px;
  font-size: 14px;
}
.filter-price-selector input{
  margin-top: 6px;
  width: 90%;
  height: 36px;
  border-radius: 4px;
}

.filter-btn-full{
  gap: 2%;
  margin-bottom: 10px;
}
.filter-clear-full{
  justify-content: center;
}

.form-btn{
  display: block;
}


.left-head{
  /* flex-direction: column; */
  justify-content: space-between;
}
.left-head h2{
  font-size: 16px;
  color: #4f4f4f;
  margin-bottom: 14px;
}
.left-head-btn-full{
  width: 130px;
}
.bottom-type {
  width: 48%;
  margin-bottom: 0;
}
.custom-options-list {
  width: 106%;
}
.custom-options-list li {
  padding: 10px;
  height: 38px;
}
.head-right {
  height: 36px;
  width: 48%;
}
.head-right .list-tab {
  width: 50%;
  height: 30px;
}


.card-left {
  width: 50%;
}
.nav-button {
  width: 24px;
  height: 24px;
}
.heart-icon {
  height: 24px;
  width: 24px;
}

.card-right{
  padding: 4px 8px;
  width: 50%;
}
.card-right h2{
  font-size: 16px;
}
.location i{
  font-size: 14px;
}
.price{
  margin-top: 8px;
  font-size: 16px;
}
.price span{
  font-size: 14px;
}
.about{
  margin-top: 6px;
  flex-direction: column;
  align-items: start;
}
.about span{
  display: none;
}
.about div{
  margin-bottom: 4px;
}
.feature {
  display: none;
}

.contact-div {
    gap: 4px;
    margin-top: 6px;
}
.contact-div button {
    padding: 4px 16px;
}

    .content-full {
        margin-top: 20px;
        flex-direction: column;
    }
    .content-left {
        width: 100%;
    }
    .content-right {
        width: 100%;
    }
    .map {
        margin-top: 20px;
        height: 80px;
        overflow: hidden;
        border-radius: 4px;
    }
    .blob-btn {
        padding: 8px 20px;
        font-size: 14px;
    }
    .map-btn button i {
        font-size: 16px;
        margin-right: 4px !important;
    }




    .filter-clear-right{
      width: 120px !important;
    }

}




@media (max-width: 400px) {

    
    .content-full {
        margin-top: 10px;
    }
    .map {
        margin-top: 20px;
        height: 80px;
        overflow: hidden;
        border-radius: 4px;
    }
    .map-btn button i {
        font-size: 18px;
    }

    .contact-div button {
    padding: 4px 8px;
}


.search-location{
  width: 100%;
}
.search-tabs {
  width: 100%;
  margin-bottom: 10px;
}
.search-tabs .all-tab {
  width: 33.33%;
}
.search-type{
  width: 90%;
  margin-bottom: 10px;
}
.filter-clear{
  height: 38px;
  width: 50% !important;
}
.more-filter{
    width: 100%;
}
.search-beds .custom-options1 {
  width: 108%;
  margin-left: -8%;
}
.custom-select-filter {
  height: 38px;
}
.custom-options-filter {
  width: 103%;
  margin-left: -9%;
}



.filter-price{
  padding: 10px;
}
.filter-price h2{
  font-size: 16px;
}
.filter-price-selector{
  margin-top: 10px;
  font-size: 14px;
}
.filter-price-selector input{
  margin-top: 6px;
  width: 90%;
  height: 36px;
  border-radius: 4px;
}



.left-head{
  flex-direction: column;
}
.left-head h2{
  text-align: center;
}



}